Core/HCIDLA.ServiceClient/Service References/VScan/Vscan1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://43devweb3/VscanWcf/Vscan.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VscanWcf" />
  <xs:element name="scan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bytesToScan" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VscanWcf" minOccurs="0" name="scanResult" nillable="true" type="q1:VscanResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>