Core/HCIDLA.ServiceClient/Service References/VScan/Vscan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VscanWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VscanWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VscanResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefinitionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DefinitionRevisionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:double" />
      <xs:element minOccurs="0" name="Infected" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScanDuration" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VscanResult" nillable="true" type="tns:VscanResult" />
</xs:schema>