Core/HCIDLA.ServiceClient/Service References/DMS/DMS62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://43dmsw/DMSServiceDEV_V4/DMS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://43dmsw/DMSServiceDEV_V4/DMS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF.DMSSvc" />
  <xs:import schemaLocation="http://43dmsw/DMSServiceDEV_V4/DMS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF" />
  <xs:element name="GetVersionCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UniqueId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF.DMSSvc" minOccurs="0" name="GetVersionCountResult" nillable="true" type="q2:GetVersionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF.DMSSvc" minOccurs="0" name="Parameters" nillable="true" type="q3:SearchParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF" minOccurs="0" name="SearchFormResult" nillable="true" type="q4:SearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF.DMSSvc" minOccurs="0" name="FInfo" nillable="true" type="q5:FileUploadInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF.DMSSvc" minOccurs="0" name="UploadFileResult" nillable="true" type="q6:UploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByUnid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UniqueId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByUnidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF" minOccurs="0" name="GetContentByUnidResult" nillable="true" type="q8:ContentRetrievalResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF.DMSSvc" minOccurs="0" name="RInfo" nillable="true" type="q9:ReplaceDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF" minOccurs="0" name="ReplaceDataResult" nillable="true" type="q10:ResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF" minOccurs="0" name="RInfo" nillable="true" type="q11:DeleteFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF" minOccurs="0" name="DeleteFileResult" nillable="true" type="q12:DeleteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFormReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF.DMSSvc" minOccurs="0" name="Parameters" nillable="true" type="q13:ReportParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFormReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF" minOccurs="0" name="SearchFormReportResult" nillable="true" type="q14:SearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXMLForLargeFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF.DMSSvc" minOccurs="0" name="fileUploadInfo" nillable="true" type="q15:FileUploadInfo" />
        <xs:element minOccurs="0" name="fileSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXMLForLargeFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetXMLForLargeFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitLargeFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileStream" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="xmlFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitLargeFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF" minOccurs="0" name="SubmitLargeFileResult" nillable="true" type="q16:ResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>