Core/HCIDLA.ServiceClient/Service References/DMS/DMS64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCIDLA.DMS.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://43dmsw/DMSServiceDEV_V4/DMS.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://43dmsw/DMSServiceDEV_V4/DMS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorMessages" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ReturnStatus" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="DMSFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DMSFault" nillable="true" type="tns:DMSFault" />
  <xs:complexType name="SearchResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Results" nillable="true">
            <xs:complexType>
              <xs:annotation>
                <xs:appinfo>
                  <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                </xs:appinfo>
              </xs:annotation>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchResponse" nillable="true" type="tns:SearchResponse" />
  <xs:complexType name="ContentRetrievalResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileExtension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileStream" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContentRetrievalResponse" nillable="true" type="tns:ContentRetrievalResponse" />
  <xs:complexType name="DeleteFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeleteUniqueIdList" nillable="true" type="q2:ArrayOfguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteFileInfo" nillable="true" type="tns:DeleteFileInfo" />
  <xs:complexType name="DeleteResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemStatusList" nillable="true" type="tns:ArrayOfDeleteItemResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteResponse" nillable="true" type="tns:DeleteResponse" />
  <xs:complexType name="ArrayOfDeleteItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeleteItemResponse" nillable="true" type="tns:DeleteItemResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeleteItemResponse" nillable="true" type="tns:ArrayOfDeleteItemResponse" />
  <xs:complexType name="DeleteItemResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FailedGuid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteItemResponse" nillable="true" type="tns:DeleteItemResponse" />
</xs:schema>